APP_ENV=dev
APP_PORT=10001
APP_READ_TIMEOUT=10s
APP_WRITE_TIMEOUT=15s
APP_SHUTDOWN_TIMEOUT=10s
APP_DB_FILE=./data/gopress.db

# site 配置
SITE_DIR=./site
SITE_BUILD_CMD=pnpm build
SITE_BUILD_TIMEOUT=8m
SITE_BUILD_TOKEN=

