---
import type { HTMLAttributes } from "astro/types";
import { SITE } from "@/config";

type Props = {
  href?: string;
  size?: "sm" | "md";
} & HTMLAttributes<"a">;

const {
  href = "/",
  size = "md",
  class: className,
  ...attrs
} = Astro.props;
---

<a
  href={href}
  class:list={[
    "site-brand inline-flex items-center gap-1.5 font-semibold tracking-tight leading-none",
    { "h-7 text-xl": size === "sm" },
    { "h-8 text-2xl": size === "md" },
    className,
  ]}
  {...attrs}
>
  <img
    src="/logo.png"
    alt={SITE.title}
    class:list={[
      "block shrink-0 rounded-sm object-contain -translate-y-[1px]",
      { "h-5 w-5": size === "sm" },
      { "h-6.5 w-6.5": size === "md" },
    ]}
  />
  <span class="inline-block leading-none translate-y-[0.5px]">{SITE.title}</span>
</a>
